* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 1em;
}

.navigation {
  display: flex;
  flex-direction: row;
  height: 60px;
  background: #444;
  color: #fff;
  align-items: center;
}
h1 {
  font-size: 1.3em;
  margin-left: 10px;
}
.by {
  font-size: 0.5em;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2px;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}

.editor-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #444;
  transition: height 0.3s;
}
.vertical-text {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  white-space: nowrap;
  display: block;
  bottom: 0;
  width: 10px;
  color: #fff;
}
.vertical-text:nth-of-type(1) {
  height: 130px;
  transition: height 0.3s;
}
.vertical-text:nth-of-type(2) {
  height: 100px;
  transition: height 0.3s;
}
.vertical-text:nth-of-type(3) {
  height: 75px;
  transition: height 0.3s;
}
.editor {
  display: inline-block;
  width: 33%;
  height: 50vh;
  transition: height 0.3s;
}

#codeResult {
  width: 100%;
  z-index: 110;
  transition: height 0.3s;
  overflow: hidden;
}
.result {
  height: 40vh;
}
.hidden {
  height: 0px;
}
.view {
  margin-left: 80%;
  transform: rotate(45deg);
  font-size: 2em;
  cursor: pointer;
}
.view:hover {
  color: rgb(8, 125, 235);
}
.fullResult {
  height: 100vh;
}
